#toastBox {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    overflow: hidden;
    /* padding: 20px; */
    z-index: 100;
    color: black;
}

.toasty {
    width: 400px;
    height: 80px;
    background: white;
    font-weight: bolder;
    margin: 15px 0px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    position: relative;
    transform: translateX(100%);
    animation: showToast 0.5s linear forwards;
}

.toasty i {
    margin: 0px 20px;
    font-size: 35px;
    color: green;
}

.toasty.error i {
    color: red;
}

.toasty.invalid i {
    color: orange;
}

.toasty::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: green;
    animation: toastAnimation 6s linear forwards;
}

.toasty.error::after {
    background-color: red;
}
.toasty.invalid::after {
    background-color: orange;
}

@keyframes toastAnimation {
    100% {
        width: 0px;
    }
}

@keyframes showToast {
    100% {
        transform: translateX(0px);
    }
}
